# IDE Ignores
.vscode/
.idea/

# OS specific ignores
.DS_Store
Thumbs.db

# Ignore Python files
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Ignore everything in the plots directory
/plots/*
old/*

# Ignore results
results/*
output/*
model.pomdpx
policy.out
scripts/*.png